.pio
main/configuration.h
main/credentials.h

# ignore vscode IDE settings files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
*.code-workspace

.idea

.DS_Store
Thumbs.db
.autotools
.built
.context
.cproject
.vagrant
nanopb*
flash.uf2
cmake-build*
__pycache__

*.swp
*.swo
*~

venv/
release/
.vscode/extensions.json

log_dev_cu.usbserial-51850163561
log_dev_cu.usbserial-54350039291